[submodule "libethrpc"]
	path = libethrpc
	url = git@github.com:BitProfile/libethrpc.git
[submodule "libethkey"]
	path = libethkey
	url = git@github.com:BitProfile/libethkey.git
[submodule "libethstealth"]
	path = libethstealth
	url = git@github.com:BitProfile/libethstealth.git
