[submodule "libethrpc"]
	path = libethrpc
	url = https://github.com/BitProfile/libethrpc.git

[submodule "libethcrypto"]
	path = libethcrypto
	url = https://github.com/BitProfile/libethcrypto.git

[submodule "libethstealth"]
	path = libethstealth
	url = https://github.com/BitProfile/libethstealth.git

[submodule "cmake/modules"]
	path = cmake/modules
	url = https://github.com/BitProfile/cmake-modules.git
