@charset "utf-8";

#page_bitprofile .avatar {
	border-color:#ffffff;
}

#page_bitprofile > h1:first-child,
#page_bitprofile :first-child > h1:first-child {
	margin-top: -26px;
}

#page_bitprofile .navSection {
    overflow: hidden;
	transition: all 200ms ease-in-out;
}

#page_bitprofile .menu .navNew,
#page_bitprofile .menu.new .navExisting {
    opacity: 0;
    pointer-events: none;
    height: 0;
}
#page_bitprofile .menu.new .navNew {
    opacity: 1;
    pointer-events: auto;
    height: auto;
}
#page_bitprofile .menu.pending * {
    pointer-events: none;
}

#page_bitprofile .nav.controls li {
	height: 46px;
}
#page_bitprofile .nav.controls li a {
	line-height: 16px;
	padding: 15px;
	padding-left: 40px;
	color: #ffffff;
	
	background-position-y: -420px;
}
#page_bitprofile .nav.controls li.import a,
#page_bitprofile .nav.controls li.export a{
	background-position-y: -466px;
}

#page_bitprofile .bitprofileList{
	top:92px;
	bottom:0px;
	/*overflow-y:scroll;*/
}
#page_bitprofile .menu.single .bitprofileList{
    position: relative;
	top:0;
	bottom:0px;
}
#page_bitprofile .menu.single .nav,
#page_bitprofile .bitprofileList .nav {
	position:relative;
}
#page_bitprofile .bitprofileList li {
	height: 80px;
    display: block !important;
}
#page_bitprofile .bitprofileList li.off {
    opacity: 0;
    pointer-events: none;
}
#page_bitprofile .bitprofileList li a {
	text-transform: none;
	height: 50px;
	background-image: none;
	padding: 15px;
	color: #ffffff;
}

#page_bitprofile .bitprofileList .avatar .img {
	background-color: #778283;
}
#page_bitprofile .bitprofileList .name {
	display: block;
	padding-top: 5px;
}
#page_bitprofile .bitprofileList .uri {
	color: #BB874E;
    float: left;
    overflow: hidden;
    width: 205px;
}
#page_bitprofile .bitprofileList .uri .context {
	color: #778283;
}
#page_bitprofile .bitprofileList .uri .context:before {
	content: "@";
}

#page_bitprofile_view .formpage .avatar {
	height: 242px;
	width: 242px;
	float:none;
}
#page_bitprofile_view .formpage .btns {
	margin-top:10px;
}

#page_bitprofile_view:target,
#page_bitprofile_view.active {
	transition-delay: 0ms;
}

#page_bitprofile_view .stealthAddress {
    margin-top: 10px;
}

#page_bitprofile .bitprofileForm .formpage .avatar {
	height: 54px;
	width: 54px;
	float:right;
	margin-right: 0;
	/*margin-bottom: -5px;*/
	margin-bottom: 20px;
}
#page_bitprofile .bitprofileForm .formpage .avatarURL {
	width: 146px;
    padding-right: 30px;
	float:left;
}
#page_bitprofile .bitprofileForm .formpage .inputBtn {
    float: left;
    height: 16px;
    width: 16px;
    margin: 11px 0px 0px 0px;
    background-image: url(../img/icons-01.png);
    background-repeat: no-repeat;
}
/*
#page_bitprofile .bitprofileForm .formpage .btnBrowse {
    background-position: center -922px;
    margin-left: 8px;
    position: absolute;
}
*/
#page_bitprofile .bitprofileForm .formpage .btnRemove {
    background-position: center -185px;
    margin-left: -26px;
}

#page_bitprofile .formpage .section_fee {
	margin-top: 15px;
	margin-bottom: 25px;
}
#page_bitprofile .formpage h1 .fee {
	float: none;
}
#page_bitprofile .formpage h1 .fee .eth {
	float:right;
}

#page_bitprofile .formpage .btnSubmit {
	color: #F7931E;
	background-position-y: -794px;
}
#page_bitprofile .formpage .btnSubmit:hover,
#page_bitprofile .formpage .btnSubmit:focus {
	background-position-y: -734px;
}

#page_bitprofile .controls.generate {
    display: block;
    float: none;
    text-align: center;
}
#page_bitprofile .contextSelect {
    width: 63px !important;
    float: left;
}
#page_bitprofile .contextSelect .ui-selectmenu-text,
#bitporfileCreate_context-menu li {
    text-transform: none;
}
#page_bitprofile .contextSelect input {
    width: 63px;
    color: #BB874E;
}
#bitprofileCreateAccountBalance {
    margin-top: 10px;
}
#bitprofileCreateAccountBalance .amount {
    float: right;
}
#page_bitprofile .formpage .section_IPNS {
    margin-bottom: -15px;
}
#page_bitprofile .formpage .section_IPNS .note {
    height: 60px;
    font-size: 0.7rem;
    color: #ffffff;
}

.bitprofileForm .pendingBox {
    pointer-events: none;
    opacity: 0;
    bottom: -40px;
    position: absolute;
    margin: 0px -30px;
    padding: 20px;
    color: #ffffff;
    font-size: 0.9rem;
    background-color: rgba(247, 147, 30, 0.4);
}
.bitprofileForm .pendingBox h1 {
    margin-top: 0;
}

.bitprofileForm.pending * {
    pointer-events: none;
}

.bitprofileForm.pending .on_pending,
.bitprofileForm .off_pending {
    opacity: 1;
    max-height: 500px;
    transition: 300ms opacity 200ms, 300ms max-height 200ms;
}

.bitprofileForm .on_pending,
.bitprofileForm.pending .off_pending {
    opacity: 0;
    max-height: 0;
    transition: 300ms opacity 0ms, 300ms max-height 0ms;
}

.bitprofileForm.pending #bitporfileCreate_details {
    opacity: 1;
    transition: 300ms all 200ms;
}

.bitprofileForm.pending #bitporfileCreate_payment {
    opacity: 1;
}
.bitprofileForm.pending.details #bitporfileCreate_payment {
    opacity: 0;
}
.bitprofileForm #bitporfileCreate_payment .formpage {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 0;
    transition: 300ms margin-top 200ms;
}
.bitprofileForm.pending #bitporfileCreate_payment .formpage {
    margin-top: 280px;
    transition: 300ms margin-top 0ms;
}
