@charset "utf-8";

.page .formpage.send {
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
}

.page .formpage.send .section_to h1 {
	margin-right: 86px;
}

.page .formpage.send .section_to .type {
	width: 110px !important;
	font-family: Bold, Arial, Helvetica, sans-serif;
	color:#3D8AAB;
	float:left;
	margin-right:10px;
}
.page .formpage.send .section_to .type a,
.page .formpage.send .section_to .type .ui-selectmenu-text {
	color:#3D8AAB;
}

.page .formpage.send .section_to .input.address,
.page .formpage.send .section_to input.address {
	width: 334px;
    float: left;
}

.page .formpage.send .section_to .hint {
    margin-top: -38px;
    height: 38px;
    overflow: hidden;
    color: #BB874E;
    cursor: pointer;
    position: absolute;
    /*max-width: 280px;*/
}

.page .formpage.send .btnSubmit.btnSend {
	color: #3D8AAB;
	background-position-y: -660px;
}
.page .formpage.send .btnSubmit.btnSend:hover {
	background-position-y: -600px;
}