@charset "utf-8";

.listItem.received {
	background-color: #DEE5E0;
	background-color: rgba(236, 247, 236, 0.4);
}
.listItem.sent {
	background-color: #DBE4E8;
	background-color: rgba(226, 247, 255, 0.4);
}
.listItem.received .header {
	background-color: #D7E1D9;
	background-color: rgba(91, 148, 91, 0.05);
}
.listItem.sent .header {
	background-color: #D3DFE5;
	background-color: rgba(61, 138, 171, 0.05);
}

.listItem.received .header .title,
.listItem.received .header:before {
	color: #5B945B;
	content:'received';
}
.listItem.sent .header .title,
.listItem.sent .header:before {
	color: #3D8AAB;
	content:'sent';
}
.listItem.mined .header .title,
.listItem.mined .header:before {
	color: #5B945B;
	content:'mined';
}
.listItem.received .header.icon .title,
.listItem.received .header.icon:before {
	background-position-y: -286px;
}
.listItem.sent .header.icon .title,
.listItem.sent .header.icon:before {
	background-position-y: -160px;
}
.listItem.mined .header.icon .title,
.listItem.mined .header.icon:before {
	background-position-y: -985px;
}
.listItem .header .userAddress .stealthIcon,
.listItem .header .userAddress.stealth:before {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

.listItem.received .avatar,
.listItem.mined .avatar {
	border-color: #5B945B;
}
.listItem.sent .avatar {
	border-color: #3D8AAB;
}
.received .txtBalance .int,
.received .txtBalance .dec, 
.mined .txtBalance .int,
.mined .txtBalance .dec {
	color: #5B945B;
}
.sent .txtBalance .int,
.sent .txtBalance .dec {
	color: #3D8AAB;
}

.received .txtBalance .int:before,
.mined .txtBalance .int:before {
	content: "+";
}
.sent .txtBalance .int:before {
	content: "-";
}

.listItem.received .s_title,
.listItem.received .s_titled:before,
.listItem.mined .s_title,
.listItem.mined .s_titled:before {
	color:#5B945B;
}
.listItem.sent .s_title,
.listItem.sent .s_titled:before {
	color:#3D8AAB;
}

.listItem .s_titled.hash:before {
	content: "hash:";
}

.listItem.received .s_titled.userAddress:before {
	content: "on:";
}
.listItem.mined .s_titled.userAddress:before {
	content: "with:";
}
.listItem.sent .s_titled.userAddress:before {
	content: "from:";
}

.transactions .listItem[contact="true"] .userProfile,
.transactions .listItem[contact="true"] .avatar {
	cursor:pointer;
}

.transactions .listItem .txtBalance,
.transactions .listItem .time {
	float:right;
}

.transactions .listItem .time {
	color:#1C2E30;
}

.transactions_total {
	height: 20px;
	line-height: 20px;
	position:absolute;
	width: 100%;
	bottom: -30px;
	font-size:0.8rem;
}


.transactions_total .total.transactions {
    position: absolute;
    width: 100%;
    text-align: center;
}

.transactions_total .total.transactions:after,
.transactions_total .total:before {
	margin-right: 8px;
	text-transform: uppercase;
	font-size:0.65rem;
	color:#778283;
}

.transactions_total .total.transactions:before,
.transactions_total .total.transactions:after{
	margin-right: 0;
}

.transactions_total .total.sent:before {
	content:"sent:";
}

.transactions_total .total.received:before {
	content:"received:";
}

.transactions_total .total.transactions:before {
	content:"last ";
}

.transactions_total .total.transactions:after {
	content:" transactions";
}