@charset "utf-8";

.page .formpage {
	width:580px;
	margin:auto;
}

.subpage .formpage {
	width:250px;
	margin:auto;
}
.innerpage .formpage {
	width:580px;
}
.navpage .innerpage .formpage {
	width:250px;
}

.page .formpage.waiting {
	pointer-events: none;
}

.page .formpage .input,
.page .formpage input[type="text"],
.page .formpage input[type="password"],
.page .formpage input[type="number"] {
	width: 560px;
	margin-right:0;
}

.subpage .formpage .input,
.subpage .formpage input[type="text"],
.subpage .formpage input[type="password"],
.subpage .formpage input[type="number"] {
	width: 230px;
	margin-bottom: 2px;
}

.page .input .account {
	font-size: 0.85rem;
	font-family: Bold, Arial, Helvetica, sans-serif;
	/*overflow:hidden;
	width: calc(100% - 180px);*/
	display: block;
	height: 100%;
	pointer-events: none;
}

.page .input .account .address,
.page .input .account .shortAddress {
	display:block;
    text-transform: none;
}
.page .input .account.stealth:before,
.page .input .account.bitprofile:before {
	content:"";
	display: block;
	float:left;
	width: 16px;
	height: 16px;
	margin: 11px 5px 0 0;
	background-image: url(../../img/icons-01.png);
	background-repeat: no-repeat;
	background-position-x: center;
}
.page .input .account.stealth:before {
	background-position-y: -310px;
}
.page .input .account.bitprofile:before {
	background-position-y: -60px;
}
.page .input .account .id {
	color: #BB874E;
	font-family: Regular, Arial, Helvetica, sans-serif;
	text-transform:none;
	margin-right:10px;
	float:left;
}

.page .input .txtBalance {
	pointer-events: none;
	font-size: 0.8rem;
	float: right;
	margin-right:30px;
    padding: 11px 0;
}

.page .input .account.originated {
	padding: 6px 0;
}

.page .input .account.originated > .address {
	font-size: 0.75rem;
	line-height: 16px;
}

.page .input .account .origin {
	font-size: 0.65rem;
	font-family: Regular, Arial, Helvetica, sans-serif;
	line-height: 10px;
	height: 10px;
	display:block;
}

.page .input .account .origin .address {
	color:#778283;
}

.page .input .account.originated .origin:before {
	content:"";
	display: block;
	float:left;
	width: 8px;
	height: 8px;
	margin: 1px 3px 0 0;
	background-image: url(../../img/icons-01.png);
	background-repeat: no-repeat;
	background-position-x: center;
}
.page .input .account.originStealth .origin:before {
	background-position-y: -899px;
}
.page .input .account.originBitprofile .origin:before {
	background-position-y: -909px;
}
.page .input .account.originBitprofile .origin .id {
	margin-right:6px;
}

.input.accountList.mini {
	width:230px;
}

.input.accountList .select {
    overflow: hidden;
    white-space: nowrap;
}

.input.accountList.mini .dropdownBox {
	width:560px;
	margin-left: -330px;
}

.input.accountList.send .address,
.input.accountList.send .shortAddress {
	color:#3D8AAB;
}

.input.accountList.receive .address,
.input.accountList.receive .shortAddress {
	color:#5B945B;
}

.input.accountList.send .item[empty],
.input.accountList.send .item[stealth],
.input.accountList.send .item[bitprofile],
.input.accountList .item.all {
	display:none;
}

.input.accountList.all .item.all {
	display:block;
}

.page .formpage .group .btn {
	background-image: url(../../img/icons-01.png);
	background-repeat: no-repeat;
	background-position-x: center;
	display: block;
	float:right;
	height: 38px;
	width: 38px;
	margin-left:5px;
	background-color: #E4E6E6;
	background-color: rgba(255, 255, 255, 0.4);
	transition: background-color 300ms ease-in-out;
}

.page .formpage .group .btn:hover {
	background-color: #edeeef;
	background-color: rgba(255, 255, 255, 0.6);
}

.page .formpage .group .btn.clipboard {
	background-position-y: -207px;
}

.page .formpage .group .btn.addressbook {
	background-position-y: -242px;
}

.page .formpage .btns {
	margin: 0px -1px;
	clear: both;
	min-height: 38px;
}
.page .formpage .btns .btn {
	line-height: 38px;
	display: block;
	height: 38px;
	/*width: 144px;*/
	width: 100%;
	width: calc(100% - 2px);
	background-color: #8C9596;
	background-color: rgba(28, 46, 48, 0.4);
	color:#ffffff;
	text-align:center;
	text-transform:uppercase;
	float:right;
	margin:2px 1px 0px 1px;
	transition: background-color 300ms ease-in-out;
}

.page .formpage .btns.x2 .btn {
	width: 289px;
	width: calc(50% - 2px);
}

.page .formpage .btns.x3 .btn {
	width: 191px;
	width: calc(33.333% - 2px);
}

.page .formpage .btns .btn:hover,
.page .formpage .btns .btn:focus {
	background-color: #1c2e30;
}

.page .formpage .btns .btn.highlight {
	background-color: #E1BB8C;
	background-color: rgba(247, 147, 30, 0.4);
}

.page .formpage .btns .btn.highlight:hover,
.page .formpage .btns .btn.highlight:focus {
	background-color: #F7931E;
}

.page .formpage .half_left {
	width: 250px;
	float:left;
}
.page .formpage .half_right {
	width: 290px;
	float:right;
}
.page .formpage .half_equal {
	width: 270px;
}

.page .formpage .headless_section {
	margin-top: 30px;
}

.page .formpage .half_left input[type="text"],
.page .formpage .half_left input[type="password"],
.page .formpage .half_left input[type="number"],
.page .formpage .half_left .input,
.page .formpage .half_left textarea {
	width: 230px;
	float:none;
}
.page .formpage .half_right input[type="text"],
.page .formpage .half_right input[type="password"],
.page .formpage .half_right input[type="number"],
.page .formpage .half_right .input,
.page .formpage .half_right textarea {
	width: 270px;
	float:none;
}
.page .formpage .half_equal input[type="text"],
.page .formpage .half_equal input[type="password"],
.page .formpage .half_equal input[type="number"],
.page .formpage .half_equal .input,
.page .formpage .half_equal textarea {
	width: 250px;
}

.input.amount:after,
.currency_eth .input.amount:after {
	content: "eth";
	background-image: url(../../img/icons-01.png);
	background-repeat: no-repeat;
	background-position: left -40px;
	display: block;
	float: right;
	height: 14px;
	line-height: 14px !important;
	padding-left: 18px;
	margin: -26px 0px 0px 0px;
	text-transform: uppercase;
	font-size:0.7rem;
	line-height:16px;
	color:#1C2E30;
	pointer-events: none;
}

.currency_rep .input.amount:after {
	content: "rep";
	padding-left: 20px;
	background-position: left -1027px;
    color: #5C2634;
}
.currency_gno .input.amount:after {
	content: "gno";
	padding-left: 21px;
	background-position: left -1067px;
    color: #00a6c4;
}

.page .input.bitprofileID {
	width: 145px;
    float: left;
    margin-right: 2px;
}

.page .input.bitprofileID input {
	padding-left: 35px;
	width: calc(100% - 25px) !important;
}

.page .input.bitprofileID:after {
	content: "";
	background-image: url(../../img/icons-01.png);
	background-repeat: no-repeat;
	background-position: left -60px;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	padding-right: 3px;
	margin: -29px 0px 0px -3px;
	pointer-events: none;
}

.page .contextSelect:after {
	content: "@";
	background-color: #D2D5D6;
    color: #778283;
	display: block;
	float: left;
	height: 20px;
	width: 20px;
    line-height: 20px;
    font-size: 0.8rem;
    text-align: center;
	border-radius: 50%;
	margin: -31px 0px 0px -22px;
	pointer-events: none;
}

.page .ui-selectmenu-button.contextSelect:after {
	margin-top: -29px;
}

.page .input.date {
	width: 120px;
}

.page .input.date input {
	padding-left: 30px;
	width: calc(100% - 20px) !important;
    cursor: pointer;
}

.page .input.date:after {
	content: "";
	background-image: url(../../img/icons-01.png);
	background-repeat: no-repeat;
	background-position: left -879px;
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	padding-right: 3px;
	margin: -28px 0px 0px -3px;
	pointer-events: none;
}

.page .formpage .btnSubmit {
	font-family: Bold, Arial, Helvetica, sans-serif;
	text-align:center;
	font-size: 1.4rem;
	color: #778283;
	background-image: url(../../img/icons-01.png);
	background-repeat: repeat-x;
	background-position-x: center;
	background-position-y: -525px;
	display: block;
	line-height: 64px;
	height: 64px;
	max-width: 300px;
	padding-top: 6px;
	margin: auto;
	text-transform: uppercase;
	transition: all 150ms ease-in-out;
	-webkit-font-smoothing: subpixel-antialiased;
}

.page .formpage .btnSubmit:hover,
.page .formpage .btnSubmit:focus {
	color: #ffffff !important;
	background-position-y: -465px;
	line-height: 58px;
}

.page .formpage .btnSubmit:after {
	content: "";
	display: inline-block;
	height: 16px;
	width: 100px;
	display: none;
	background-image: url(../img/submit_loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.page .formpage.waiting .btnSubmit .txt {
	display: none;
}
.page .formpage.waiting .btnSubmit:after {
	display: inline-block;
}


.page .formpage .submitCancel {
	line-height: 28px;
	display: block;
	height: 28px;
	width: 104px;
	background-color: #8C9596;
	background-color: rgba(28, 46, 48, 0.4);
	color:#ffffff;
	text-align:center;
	text-transform:uppercase;
	/*margin:22px auto 0 auto;*/
	margin:22px auto -50px auto;
	transition: background-color 300ms ease-in-out;
	font-size: 0.8em;
}

.page .formpage .submitCancel:hover,
.page .formpage .submitCancel:focus {
	background-color: #1c2e30;
}

.subpage .formpage .submit {
	clear: both;
	position:absolute;
	/*bottom: -40px;*/
	bottom: 10px;
	width:250px;
}

.innerpage .formpage .submit {
	bottom: 60px;
	width:580px;
}
.navpage .innerpage .formpage .submit {
	bottom: 10px;
	width:250px;
}
.subpage .formpage .submit input[type=password] {
	margin-bottom:30px;
}

.page .formpage .section_fee {
	margin-top: 30px;
}
.page .formpage .section_fee h1 {
	margin-top: 0px;
}

.page .formpage h1 .fee {
	float: right;
}

.page .formpage h1 .fee .gas {
	font-family: Regular, Arial, Helvetica, sans-serif;
	color:#1C2E30;
}
.page .formpage h1 .fee .gas:after {
	font-family: Bold, Arial, Helvetica, sans-serif;
	content:" GAS";
}
.page .formpage h1 .fee .eth {
	font-family: Regular, Arial, Helvetica, sans-serif;
	color:#778283;
	margin-left:5px;
}
.page .formpage h1 .fee .eth:before {
	content:" (";
}
.page .formpage h1 .fee .eth:after {
	content:" ETH)";
	margin-left:5px;
}

.page .formpage h1 .controls {
	float: right;
	padding-top:0 !important;
}
.page .formpage h1 .controls > a {
	color:#BB874E;
}
.page .formpage h1 .controls > *:before {
	content: "|";
	margin: 0px 10px;
	color: #778283;
	font-family: Regular, Arial, Helvetica, sans-serif;
}
.page .formpage h1 .controls > *:first-child:before {
	display:none;
}

.formpage .section_submit {
	position:absolute;
	bottom: 0px;
	width: 580px;
}

.formpage .section_submit .section_password h1 {
	margin-top:6px;
}
