[Desktop Entry]
Name=Xeth
Exec=/opt/xeth/xeth
Icon=/opt/xeth/icon/ethereum.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Money;Application; 
Name[en_US]=Xeth
